*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,#f15f79,#b24592);
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1,.box2{
    width: 100px;
    height: 100px;
    border-radius: 50px; /*makes shape curved almost like a circle*/
    border: 15px solid white;
    position: absolute;
}
.box1{
    border-left: 15px solid transparent; /*15px from left almost disappears*/
    border-right: 15px solid transparent;/*15px from right almost disappears*/
 animation-name: anim ;
 animation-duration: 1s;
 animation-iteration-count: infinite;
}
@keyframes anim {
    0%{
transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.box2{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    animation-name: anim2 ;
 animation-duration: 1s;
 animation-iteration-count: infinite;
}

@keyframes anim2 {
    0%{
transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
.dot{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation: anim3 1.2s linear infinite;
    background-color: white;
}
@keyframes anim3 {
    0%,100%{
        transform: scale(0.4);
        opacity: 0.2;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
}